@layout('layouts/main')
@set('title', 'Bacon factory')

@section('body')
  <div class="snowdog-bacon-wrapper relative">
    @!component('snowdog/bacon', {
      img: '/images/bacon.jpg'
    })
  </div>
@end
