body:before {
    content: '';
    background: #5A45FF;
    top: 0;
    left: 0;
    right: 0;
    height: 6px;
    position: absolute;
}

a {
    color: #5A45FF;
    text-decoration: none;
}

.content-wrapper {
    max-width: 1920px;
    margin: auto;
    padding: 0 30px;
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

.w-full {
    width: 100%;
}

.fv-width {
    width: 100vw;
}

.fv-height {
    height: 100vh;
}

.relative {
    position: relative;
}

.title {
    font-size: 50px;
    line-height: 50px;
    margin-bottom: 10px;
    color: #17161A;
}

.subtitle {
    font-size: 26px;
    margin-bottom: 40px;
}

p {
    margin-bottom: 20px;
}

main ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

main li {
    margin-bottom: 5px;
    position: relative;
    padding-left: 25px;
}

main li:before {
    content: '—';
    position: absolute;
    left: 0;
}

main code {
    font-size: 16px;
    background: #e6e2ff;
}

.snowdog-bacon-wrapper {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    & > main,
    main > div {
        height: 100%;
    }

    button {
        align-items: center;
        background-clip: padding-box;
        background-color: $orange-vibrant;
        border: 1px solid transparent;
        border-radius: .25rem;
        box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
        box-sizing: border-box;
        color: #fff;
        cursor: pointer;
        display: inline-flex;
        font-size: 16px;
        font-weight: 600;
        justify-content: center;
        line-height: 1.25;
        margin: 0;
        min-height: 3rem;
        padding: calc(.875rem - 1px) calc(1.5rem - 1px);
        position: relative;
        text-decoration: none;
        transition: all 250ms;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        vertical-align: baseline;
        width: auto;
    }
        
    button:hover,
    button:focus {
        background-color: $orange-light;
        box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    }
        
    button:hover {
        transform: translateY(-1px);
    }
        
    button:active {
        background-color: $orange-dark;
        box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
        transform: translateY(0);
    }

    section:first-of-type {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 100;
    }

    section:nth-of-type(2) {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
    }

    img {
        max-width: 700px;
        border-radius: 6px;

        &.cloned {
            position: absolute;
            max-width: 80%;
            opacity: 0;
            transition: 2s;
            //max-width: random(600) + 200px; //200-800
        }
    }
}
  
@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.fadeIn {
    animation: fadeIn 1s forwards;
}

.cart-icon {
    svg {
        path{
            fill: #fff;
        }
    }   
}

.lock-icon {
    svg {
        path{
            fill: #000;
        }
    }
}

.question-icon {
    max-width: 20px;
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translate(0, -50%);
    cursor: pointer;
}

label {
    font-size: 10px;
    font-weight: 600;
    display: block;
    width: 100%;
}

.form-group {
    background: #FFFFFF;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.04);
    border-radius: 4px;
    border: none;
    padding: 4px 16px;
    margin: 8px 0;
    min-height: 48px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    input, select {
        border: none;
        outline: none;
        background-color: transparent;
        font-size: 14px;
    }
}

.form-group-select {
    width: 100%;
    cursor: pointer;
    outline: none;
    padding-top: 18px;

    &-label {
        position: absolute;
        left: 16px;
        top: 14px;
        @media(max-width: 991px) {
            top: 6px;
        }
    }
}

.arrow-down-icon {
    position: absolute;
    right: 16px;
    top: 54%;
    transform: translate(0, -50%);
    user-select: none;
    pointer-events: none;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}

.credit-card-holder {
    .form-group {
        padding-right: 30px;
    }
    
    .visa-icon {
        position: absolute;
        right: 16px;
        top: 58%;
        transform: translate(0, -50%);
    }
}

.button {
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    letter-spacing: 0.0125em;
    cursor: pointer;
    transition: .3s;
    border: none; 
    border-radius: 6px;
    padding: 8px 16px;
    text-transform: uppercase;
    min-height: 48px;
}

.button--order {
    color: #fff;
    background-color: $green-light;
    &:hover {
        background-color: $green-dark;
    }
}

.indent-section {
    @media (min-width: 768px) {
        margin-left: 32px;
    }
}

.mr-8 {
    margin-right: 8px;
}

.mr-10 {
    margin-right: 10px;
}

h2 {
    font-weight: 900;
    font-size: 16px;
    line-height: 16px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    letter-spacing: 0.06em;
    margin-bottom: 16px;

    &:not(:first-of-type) {
        margin-top: 48px;
    }
}

.section-circle{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    position: relative;
    color: #fff;

    &::before {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        border-radius: 50px;
        background-color: #000;  
        position: absolute;
        z-index: -1;
    }
}

.order-summary {
    margin: 50px 0;
    width: 100%;
}

.order-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 16px 16px 32px;
    min-height: 240px;
    background: #FFFFFF;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.04);
    border-radius: 4px;
    font-size: 10px;
    font-weight: 600;

    p {
        margin: 8px 0;
    }
}

.box-section,
.box-taxes,
.box-summary {
    width: 100%;
    & > div {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
}

.box-section,
.box-taxes {
    border-bottom: 1px solid $gray;
    padding: 7px 0;
}

.box-summary {
    margin-top: 15px;
}

h3 {
    font-size: 12px;
    letter-spacing: 0.03em;
    font-weight: 900;
    margin-bottom: 8px;
    text-transform: uppercase;
}

.total-highlight {
    font-weight: 700;
    font-size: 24px;
    line-height: 16px;
}

@media (max-width: 767px) {
    .order-summary {
        padding-bottom: 80px;
        position: relative;
    }

    form {
        margin-bottom: 32px;
        padding-bottom: 16px;
        border-bottom: 1px solid #000;

        .button--order {
            position: absolute;
            bottom: 0;
        }
    }
}

@media (min-width: 768px) {
    .order-summary {
        display: flex;
        max-width: 1200px;
    }

    .order-box-wrapper {
        width: 30%;
        max-width: 320px;
        .order-box {
            margin-top: 40px;
        }
    }

    form {
        width: 100%;
        margin-right: 16px;
    }
}

@media (min-width: 992px) {
    .order-box-wrapper {
        .order-box {
            margin-top: 48px;
        }
    }

    .input--smaller {
        width: calc(50% - 8px);
    }

    .indent-section {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .form-group {
        width: 100%;
    }
}